.first-section {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: flex-end;
    margin-top: -100px;
    overflow: hidden;
    height: min(91.2vh, 985px);
    

    @include mobile {
        height: clamp(625px, 58.88vh, 665px);
    }

}