.marquee {
    text-align: center;
    width: 37.29vw;
    height: 100%;

    &__wrapper {
        max-width: 100%;
        background-color: var(--color-accent);
    }

    &__content {
        display: grid;
        grid-template-areas: "stack";
        padding-block: 18px;
    }

    &__over {
        grid-area: stack;
        filter: drop-shadow(25px 5px 10px var(--color-dark-rgba)) drop-shadow(-5px 5px 18px var(--color-dark-rgba));
    }

    &__svg {
        padding-left: 50px;
        display: flex;
        align-items: center;
        white-space: wrap;
        width: 37.29vw;
        animation: marquee-scroll 40s linear infinite;

        margin-top: -1px;
    }



    &__svg-second {
        display: flex;
        flex-direction: column;
        animation: marquee-scroll-second 18s linear infinite;

        margin-top: -2px;
    }

    &__svg-three {
        display: flex;
        flex-direction: column;
        animation: marquee-scroll 15s linear infinite;

        margin-top: -1px;
    }



}

@keyframes marquee-scroll {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-50%);
    }
}

@keyframes marquee-scroll-second {
    0% {
        transform: translateY(-50%);
    }

    100% {
        transform: translateY(0);
    }
}